<!DOCTYPE html>
<html lang="en">
<head>
    #parse("metaTagsTemp.vm")
    #parse("cssTemp.vm")

    <title>Hourly|Administration</title>
</head>
<body id="page1"  onload="clearCache(); rowNum($id.size());dropDown()">
        #parse("adminNav.vm")
<div id="toast"><div id="img"><i class="far fa-check-circle"></i></div><div id="desc">העובד הוסף בהצלחה.</div></div>
<div id="toastRemove"><div id="imgRemove"><i class="far fa-times-circle"></i></div><div id="descRemove">העובד הוסר בהצלחה.</div></div>

<div class="container report" >
    <div class="row">
        <div class="col-12 removeEmp">
            <h3 class="addEmp">רשימת עובדים:</h3>
        </div>

    </div>
</div>
<br/>
<div class="container report" >
<div class="row">
    <div class="col-12 removeEmp">
        <table  class="adminTbl table" id="addEmpTable" cellpadding="10">


            <tr>
               <td align="right" colspan="5">
                   <div class="search">
                       <div>

                           <input onkeypress="searchEmp(event)"type="number" list="numberList" id="empID" placeholder="       Search . . ." required>
                           <datalist id="numberList"></datalist>

                       </div>
                   </div>
               </td>
           </tr>
            <thead class="thead-light">

            <tr >
                <th scope="col" >
                  <h4>תז עובד &nbsp; </h4>
                </th>
                <th scope="col">
                    <h4>&nbsp;שם עובד </h4>
                </th >

                <th scope="col">
                     <h4>&nbsp;טלפון</h4>
                </th>
                <th scope="col">
                    <h4>&nbsp;סיסמא</h4>
                </th>
                <th scope="col">
                    <h4>&nbsp;הסרה</h4>
                </th>
            </tr>
            </thead>
            <tbody>
            #if($id.size()!=0)
               #set($end =$id.size())
               #set($stop = $end - 1)
            #if($stop)
            #foreach($i in [0..$stop])
            <tr  >
                <td>
                    <h4 >$id.get($i)</h4>
                </td>
                <td>
                    <h4>$name.get($i)</h4>
                </td>

                <td>
                    <h4>$phone.get($i)</h4>
                </td>
                <td>
                    <h4>$password.get($i)</h4>
                </td>
                <td style="text-align: center">
                    <button type="button" onclick="getRow(this)"class="btn btn-primary" data-toggle="modal" data-target="#removeModal" name="$i"><i class="fas fa-user-times"></i></button>
                </td>
            </tr>
    #end
    #end
            #end
            <tr >
                <td colspan="5" align="center"><!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">
                    הוסף עובד <i class="fas fa-user-plus"></i>
                </button>
                </td>
            </tr>
            </tbody>
        </table>


</div>

</div>
</div>
<br>
<div class="container" >
    <div class="row">
        <div class="col-12 ">
            <p class="footer"><b>Rotem & Moti © TimeUp. All rights reserved</b></p>
        </div>
    </div>
</div>

    <!-- addModal -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">הוספת עובד</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="javascript:addEmployee();">
                    <div>
                    <input type="tel"  class="form-control borColor" id="id" name="id" placeholder="מס זהות" pattern="[0-9]{9}" onKeyPress="return check(event,value)" onInput="checkLength(9,this)" required>
                    </div>
                    <div>
                        <input type="text" class="form-control borColor" id="name" name="name" placeholder="שם" maxlength="15" required>
                    </div>
                    <div>
                        <input type="tel" class="form-control borColor" id="phone" name="phone" placeholder="מס טלפון" pattern="[0]{1}[5]{1}[0-9]{8}" onInput="checkLength(10,this)" required>
                    </div>
                    <div>
                        <input type="text"  class="form-control borColor" id="password" name="password" placeholder="סיסמא"  minlength="8" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">דחה</button>
                    <input type="submit" value="אשר" class="btn btn-primary"></input>
                </div>
                </form>
            </div>
        </div>
    </div>

    <!-- removeModal -->
    <div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">הסרת עובד</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>האם אתה בטוח שאתה רוצה להסיר את העובד?</p>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">דחה</button>
                    <button type="button" class="btn btn-primary" onclick="removeEmployee()"data-dismiss="modal">אשר</button>

            </div>
        </div>
    </div>
    #parse("jsTemp.vm")
</body>
</html>