<!DOCTYPE html>
<html lang="en">
<head>
    #parse("metaTagsTemp.vm")
    #parse("cssTemp.vm")

    <title>Hourly|Administration</title>
</head>
<body id="page1"  onload="clearCache(); rowNum($id.size())">
        #parse("adminNav.vm")

<h3 class="addEmp">רשימת עובדים:</h3>
<br/>
<div class="container report" >
<div class="row">
    <div class="col-12 removeEmp">
        <table id="addEmpTable" cellpadding="10">
            <tr >
                <th >
                  <h4>תז עובד &nbsp; </h4>
                </th>
                <th >
                    <h4>&nbsp;שם עובד </h4>
                </th >

                <th >
                     <h4>&nbsp;טלפון</h4>
                </th>
                <th >
                    <h4>&nbsp;סיסמא</h4>
                </th>
                <th >
                    <h4>&nbsp;הסרה</h4>
                </th>
            </tr>
            #if($id.size()!=0)
               #set($end =$id.size())
               #set($stop = $end - 1)
            #if($stop)
            ##$emplId.get($i),$enterTime.get($i),$exitTime.get($i),$dateList1.get($i),$hours.get($i),$dayOfWeek.get($i),$reasonsList.get($i)
            #foreach($i in [0..$stop])
            <tr onclick="getRow(this)" >
                <td>
                    <h4 >$id.get($i)</h4>
                </td>
                <td>
                    <h4>$name.get($i)</h4>
                </td>

                <td>
                    <h4>$phone.get($i)</h4>
                </td>
                <td>
                    <h4>$password.get($i)</h4>
                </td>
                <td style="text-align: center">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#removeModal" name="$i">x</button>
                </td>
            </tr>
    #end
    #end
            #end

        </table>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">
          +
        </button>

</div>
</div>


    <!-- addModal -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">הוספת עובד</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                    <input type="number" class="form-control borColor" id="id" name="id" placeholder="מס זהות">
                    </div>
                    <div>
                        <input type="text" class="form-control borColor" id="name" name="name" placeholder="שם">
                    </div>
                    <div>
                        <input type="number" class="form-control borColor" id="phone" name="phone" placeholder="מס טלפון">
                    </div>
                    <div>
                        <input type="text"  class="form-control borColor" id="password" name="password" placeholder="סיסמא">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">דחה</button>
                    <button type="button" class="btn btn-primary" onclick="addEmployee()"data-dismiss="modal">אשר</button>
                </div>
            </div>
        </div>
    </div>
    <!-- removeModal -->
    <div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">הסרת עובד</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>האם אתה בטוח שאתה רוצה להסיר את העובד?</p>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">דחה</button>
                    <button type="button" class="btn btn-primary" onclick="removeEmployee()"data-dismiss="modal">אשר</button>

            </div>
        </div>
    </div>
    #parse("jsTemp.vm")
</body>
</html>