<!DOCTYPE html>
<html lang="en">
<head>
    #parse("metaTagsTemp.vm")
    #parse("cssTemp.vm")

    <title>Hourly|Administration</title>
</head>
<body id="page1"  onload="stay(), clearCache()">
        #parse("adminNav.vm")

<h3 class="addEmp">רשימת עובדים:</h3>
<br/>
<div class="container report" >
<div class="row">
    <div class="col-12 removeEmp">
        <table cellspacing="15">
            <tr>
                <th >
                  <h4>תז עובד &nbsp; </h4>
                </th>
                <th >
                    <h4>&nbsp;שם עובד </h4>
                </th >

                <th >
                     <h4>&nbsp;טלפון</h4>
                </th>
                <th >
                    <h4>&nbsp;סיסמא</h4>
                </th>
                <th >
                    <h4>&nbsp;הסרה</h4>
                </th>
            </tr>
            #if($Id.size()!=0)
               #set($end =$id.size())
               #set($stop = $end - 1)
            #if($stop)
            ##$emplId.get($i),$enterTime.get($i),$exitTime.get($i),$dateList1.get($i),$hours.get($i),$dayOfWeek.get($i),$reasonsList.get($i)
            #foreach($i in [0..$stop])
            <tr>
                <td>
                    <h4>$id.get($i)</h4>
                </td>
                <td>
                    <h4>$name.get($i)</h4>
                </td>

                <td>
                    <h4>$phone.get($i)</h4>
                </td>
                <td>
                    <h4>$password.get($i)</h4>
                </td>
                <td>
                    <button>x</button>
                </td>
    #end
    #end
            #end
<tr>
    <td ><h4 id="idEmp"></h4></td>
    <td ><h4 id="nameEmp"></h4></td>
    <td ><h4 id="phoneEmp"></h4></td>
    <td ><h4 id="passwordEmp"></h4></td>
    <td ><h4 id="buttonEmp"></h4></td>
</tr>
        </table>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          +
        </button>

</div>
</div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">הוספת עובד</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                    <input type="number" class="form-control borColor" id="id" name="id" placeholder="מס זהות">
                    </div>
                    <div>
                        <input type="text" class="form-control borColor" id="name" name="name" placeholder="שם">
                    </div>
                    <div>
                        <input type="number" class="form-control borColor" id="phone" name="phone" placeholder="מס טלפון">
                    </div>
                    <div>
                        <input type="number" class="form-control borColor" id="password" name="password" placeholder="סיסמא">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="addEmployee()"data-dismiss="modal">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    #parse("jsTemp.vm")
</body>
</html>