<!DOCTYPE html>
<html lang="en">
<head>
    #parse("metaTagsTemp.vm")
    #parse("cssTemp.vm")

    <meta charset="UTF-8">
    <title>TimeUP|Home-Page</title>
</head>
<body >
<div class="img">
    <div class="container" >
        <div class="row">
            <header class="col">

                <img onclick="returnToMainPage()" src="css/images/timeup5.png" class="img-fluid" alt="Responsive image" id="logo">
                <br>
                <br>
                <form class="input" action="" method="post" id="login">
                    <input class="form-control" type="tel" name="login" placeholder="טלפון"  required>
                    <!---pattern="[0]{1}[5]{1}[0-9]{8}" -->
                    <br>
                    <input class="form-control" type="password" name="pass" placeholder="סיסמה" required>
                    <!--minlength="8"-->

                </form>
                <button class="btn btn-primary loginBtn" type="submit" form="login" formaction="login" >התחבר</button>
                <a class="forgot" href="forgotPass"><b>שכחתי את הסיסמה?</b></a>
                <br>
                <br>
                <a class="forgot" href="registration"><b>הרשמה</b></a>

            </header>
        </div>


    </div>
    <p class="footer"><b>Rotem & Moti © TimeUp. All rights reserved</b></p>
</div>
</div>

    #parse("jsTemp.vm")

</body>
</html>