<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Expires" CONTENT="0">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="Pragma" CONTENT="no-cache">
    <!--Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="/scripts/js.js"></script>

    <meta charset="UTF-8">
    <title>Notebook</title>
</head>
<body onload="callme()">
<div class="img">
    <div class="container" >
        <div class="row">
            <header class="col">

                    <img  src="css/images/logo2.png" class="img-fluid" alt="Responsive image" id="logo">

                <br>
                <br>
                <form class="input" action="" method="post" >
                    <input class="form-control" type="text" name="login" placeholder="טלפון">
                    <br>
                    <input class="form-control" type="password" name="pass" placeholder="סיסמה">
                    <input type="submit" formaction="http://localhost:8666/getAlldata" style="display:none"/>
                    <a class="forgot" href="#" >שחכתי את הסיסמה?</a>
                </form>
            </header>
        </div>

    </div>
</div>
</div>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/scripts/queryHourly.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="/scripts/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>
</html>