<!DOCTYPE html>
<html lang="en">
<head>


    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Expires" CONTENT="0">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="Pragma" CONTENT="no-cache">
    <!--Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <title>Hourly|main</title>
</head>
<body id="page1" onload="clearCache();getStatus()">
<div class="container-fluid ">
    <div class="row">
        <div class="col-3 page1Btn ">
            <div class="col-3 page1Btn ">
                <input type="image" onclick="openNav()" class="hih" src="css/images/button.png">
                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <a href="main.vm"><h4 class="nav">ראשי</h4></a>
                    <a href="reports.vm"><h4 class=" nav">דוחות נוכחות</h4></a>
                    <a href="special_report.vm"><h4 class="nav">דיווח מיוחד</h4></a>
                    <a href="http://localhost:8666/logout"><h4 class="nav">התנתק</h4></a>
                    <div class="version">7.4.2019</div>
                </div>
            </div>
        </div>

        <div class="col-6 page1Logo">
            <img onclick="main()" src="css/images/Logo-second.png" class="img-fluid mainLogo">
        </div>
        <div class="col-3 page1Btn">
            <p id="date"></p>
        </div>
    </div>
</div>
<p class="spring">$name</p>
<div class="container timeEnter">
    <div class="row">
        <div class="col-12">
            <p class="enterTime" id="workTime">$workedToday</p>

        </div>
    </div>
</div>
</br>
</br>
</br>


<div class="container-fluid ent">
    <button class="knisa" onclick="changeImage()" method="post" action="/result"><img class="img-fluid"
                                                                                      src=$url id="enterBtn"></button>
</div>

<div class="container workedDay">
    <div class="row">
        <div class="col-12 ">
            #foreach( $timeWork in $timeWorkList )
                <p class="enterTime">$timeWork</p>
            #end
            <p class="enterTime" id="hide"></p>
        </div>
    </div>
</div>

<div class="container workedMonth">
    <div class="row">
        <div class="col-12">
            <p class="enterTime">$timeWorkMonth</p>
        </div>
    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/scripts/js.js"></script>
<script src="/scripts/jquery-3.3.1.min.js"></script>
<script src="scripts/jquery.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>