<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Expires" CONTENT="0">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="Pragma" CONTENT="no-cache">
    <!--Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <title>Hourly|reports</title>
</head>
<body id="page1" onload="callme()">
<div class="container-fluid ">
    <div class="row">
        <div class="col-3 page1Btn " >
            <input type="image" class="btn dropdown-toggle pull-right " data-toggle="dropdown" src="css/images/button.png" >

            <ul class="dropdown-menu">
                <li><a href="main.vm">ראשי</a></li>
                <li><a href="reports.vm">דוחות נוכחות</a></li>
                <li><a href="special_report.vm">דיווח מיוחד</a></li>
                <li><a href="http://localhost:8666/logout" >התנתק</a></li>

            </ul>
        </div>

        <div class="col-6 page1Logo">
            <img src="css/images/Logo-second.png" class="img-fluid mainLogo">
        </div>
        <div class="col-3 page1Btn">
            <p id="date"></p>
        </div>
    </div>
</div>

<div class="container-fluid  backButtonCon">
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-sm backBtn" onclick="window.location.href = 'main.html';"><img src="css/images/backBtn.png"class="img-fluid back"> </button>
            <button type="button" class="btn btn-sm ditalesBtn"  data-toggle="modal" data-target="#exampleModalCenter2"><img src="css/images/ditales.png"class="img-fluid back"> </button>

        </div>
    </div>
</div>

<div class="container-fluid  specialRepCon">
    <div class="row">
        <div class="col">
            <p class="speRep">דוחות נוכחות</p>
        </div>
    </div>
</div>

<form class="container report" >
    <div class="row">

        <div class="col-6 formRep">

                <div class="form-group">
                    <select class="form-control borColor" id="exampleFormControlSelect1" name="month" >
                        <option value="0">בחר חודש...</option>
                        <option value="1">ינואר</option>
                        <option value="2">פברואר</option>
                        <option value="3">מרץ</option>
                        <option value="4">אפריל</option>
                        <option value="5">מאי</option>
                        <option value="6">יוני</option>
                        <option value="7">יולי</option>
                        <option value="8">אוגוסט</option>
                        <option value="9">ספטמבר</option>
                        <option value="10">אוקטובר</option>
                        <option value="11">נובמבר</option>
                        <option value="12">דצמבר</option>
                    </select>
                </div>

        </div>

        <div class="col-6 formRep">


                    <div class="form-group">
                        <input type="number" class="form-control borColor" id="exampleFormControlInput1" name="year" placeholder="שנה">
                    </div>

                <input type="submit" formaction="http://localhost:8666/reports" style="display:none"/>
        </div>
    </div>
</form >


<div class="container " >
    <div class="row rowBorder">
        <div class="col-3 infCol">
            #foreach( $day in $days )
         <p class="inf">$day</p>
            #end
        </div>
        <div class="col-3-fluid">
             #foreach( $hour in $hours )

    <p class="inf">$hour</p>

            #end
        </div>
        <div class="col-3-fluid">
            #foreach( $date in $dateWorked )

            <p class="inf">$date</p>
                #end

        </div>
        <div class="col-2 infCol ">

        <div class="col-3-fluid">
             #foreach( $hours in $hoursWorked )
                 <div>
            <!-- Button trigger modal -->
            <button type="button" class="btn  btnrep" data-toggle="modal" data-target="#exampleModalCenter">$hours<img src="css/images/EDIT.png" class="editPic"></button>
                 </div>
             #end
        </div>
    <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                            <p2>אז מה עשית היום?</p2>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>


                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control borColor" name="commentary" id="exampleFormControlInput1" placeholder="הסבר">
                            </div>
                            <button type="submit" formaction="http://localhost:8666/sendComment" class="btn btn-sm okBtn" ><img src="css/images/okBtn.png"class="img-fluid okBtnImg"></button>
                        </form>

                    </div>
                </div>
            </div>
            <!-- Modal for the details -->
            <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                            <p2>פירוט זמני עבודה</p2>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>


                        <div>
                            <div class="form-group">
                                <div class="container " >
                                    <div class="row rowBorder">
                                        <div class="col-3 infCol">
                                            #foreach( $dayDetail in $daysDetails )
                                                <p class="inf">$dayDetail</p>
                                            #end
                                        </div>
                                        <div class="col-3-fluid">
                                            #foreach( $hourDetail in $hoursDetails )

                                                <p class="inf">$hourDetail</p>

                                            #end
                                        </div>
                                        <div class="col-3-fluid">
                                            #foreach( $dateDetail in $dateWorkedDetails )

                                                <p class="inf">$dateDetail</p>
                                            #end

                                        </div>
                                        <div class="col-2 infCol ">

                                            <div class="col-3-fluid">
                                                #foreach( $hoursDetail in $hoursWorkedDetails )
                                                    <p class="inf">$hoursDetail</p>
                                                #end


                                            </div>
                            </div>
                            <button type="button" class="close" data-dismiss="modal"  ><img src="css/images/okBtn.png"class="img-fluid okBtnImg ok"></button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/scripts/js.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/scripts/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>