<!DOCTYPE html>
<html lang="en">
<head>
    #parse("metaTagsTemp.vm")
    #parse("cssTemp.vm")

    <title>Hourly|requests</title>
</head>
<body id="page1" onload="clearCache()">
    #if($admin)
        #parse("adminNav.vm")
    #{else}
        #parse("header.vm")
    #end
<div class="container-fluid  backButtonCon">
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-sm backBtn" onclick="window.location.href = 'adminMain.html';"><img src="css/images/backButton.png"class="img-fluid back"> </button>

        </div>
    </div>
</div>

<div class="container-fluid  specialRepCon">
    <div class="row">
        <div class="col">
            <p class="speRep">בקשות עובדים</p>
           ##  <p>$ar0.get(1).getReasonText()</p>
        </div>
    </div>
</div>
</br>
</br>
<div class="container" >
    <div class="row rowBorder">
        <div class="accordion" id="accordionExample" style=" width: -webkit-fill-available;">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
בקשות שלא נקראו                        </button>
                    </h2>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">

        <table style="border-style: hidden; -webkit-overflow-scrolling: touch; overflow-x: auto; display: block;" id="myTable" cellpadding="10">
                <tr>
                    <th>תז</th>
                    <th>שם עובד</th>
                    <th>תאריך</th>
                    <th>יום</th>
                    <th>כניסה</th>
                    <th>יציאה</th>
                    <th>הערה</th>

                </tr>
            #if($reasonsNotRead.size()!=0)

                #set($end =$reasonsNotRead.size())
                #set($stop = $end - 1)
                #if($stop)
                ##$emplId.get($i),$enterTime.get($i),$exitTime.get($i),$dateList1.get($i),$hours.get($i),$dayOfWeek.get($i),$reasonsList.get($i)
                    #foreach($i in [0..$stop])
                        <tr class="inf" >
                            <td><p >$reasonsNotRead.get($i).getEmployeeObject().getId()</p></td>
                            <td><p >$reasonsNotRead.get($i).getEmployeeObject().getName()</p></td>
                            <td><p >$reasonsNotRead.get($i).getDate()</p></td>
                            <td><p >$dayOfWeek0.get($i)</p></td>
                            <td><p><input type="time" id="input $i" value=$enterTime0.get($i)></p></td>
                            <td><p><input type="time" id="input2 $i" value=$exitTime0.get($i)></p></td>
                            <td><button type="button" class="btn btn-primary  test"  onclick="requestEmp('$reasonsNotRead.get($i).getReasonText()')" data-toggle="modal" data-target="#exampleModalScrollable"> <i class="far fa-comment-dots"></i></button></td>
                            <td><button type="button" class="btn btn-primary loginBtn test" onclick="confirmAndAdd('$reasonsNotRead.get($i).getEmployeeObject().getId()','$enterTime0.get($i)','$exitTime0.get($i)','$reasonsNotRead.get($i).getDate()','$reasonsNotRead.get($i).getReasonText()','$dayOfWeek0.get($i)',$i,this,'$reasonsNotRead.get($i).getEmployeeObject().getName()')">אשר</button></td>
                            <td><button type="button" class="btn btn-primary loginBtn test" onclick="deleteRow('$reasonsNotRead.get($i).getEmployeeObject().getId()','$enterTime0.get($i)','$exitTime0.get($i)','$reasonsNotRead.get($i).getDate()','$reasonsNotRead.get($i).getReasonText()',$i,this,'$reasonsNotRead.get($i).getEmployeeObject().getName()','$dayOfWeek0.get($i)' )" >דחה</button></td>
                        </tr>
                    #end
                #end
            #end
        </table>
                    </div>
                </div>
            </div>
    </div>
        ##_______________________________________________second  card_____________________________________________________
        <div class="card"  style=" width: -webkit-fill-available;">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
בקשות שאושרו                    </button>
                </h2>
            </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                <table style="border-style: hidden; -webkit-overflow-scrolling: touch; overflow-x: auto; display: block;" id="acceptedTable" cellpadding="10">
                    <tr>
                        <th>תז</th>
                        <th>שם עובד</th>
                        <th>תאריך</th>
                        <th>יום</th>
                        <th>כניסה</th>
                        <th>יציאה</th>
                        <th>הערה</th>

                    </tr>
                    #if($reasonsAccepted.size()!=0)

                        #set($end =$reasonsAccepted.size())
                        #set($stop = $end - 1)
                        #if($stop)
                        ##$emplId.get($i),$enterTime.get($i),$exitTime.get($i),$dateList1.get($i),$hours.get($i),$dayOfWeek.get($i),$reasonsList.get($i)
                            #foreach($i in [0..$stop])
                                <tr class="inf" >
                                    <td><p >$reasonsAccepted.get($i).getEmployeeObject().getId()</p></td>
                                    <td><p >$reasonsAccepted.get($i).getEmployeeObject().getName()</p></td>
                                    <td><p >$reasonsAccepted.get($i).getDate()</p></td>
                                    <td><p >$dayOfWeek1.get($i)</p></td>
                                    <td><p><input type="time" id="input $i" value=$enterTime1.get($i) ></p></td>
                                    <td><p><input type="time" id="input2 $i" value=$exitTime1.get($i)></p></td>
                                    <td><button type="button" class="btn btn-primary test" onclick="requestEmp('$reasonsAccepted.get($i).getReasonText()')" data-toggle="modal" data-target="#exampleModalScrollable">
                                        <i class="far fa-comment-dots" style="font-size:20px"></i> </button></td>
                                </tr>
                            #end
                        #end
                    #end
                </table>
            </div>
    </div>
        </div>
    ##_______________________________________________third card_____________________________________________________
        <div class="card"  style=" width: -webkit-fill-available;">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThird" aria-expanded="false" aria-controls="collapseThird">
                        בקשות שנידחו                    </button>
                </h2>
            </div>
            <div id="collapseThird" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <table style="border-style: hidden; -webkit-overflow-scrolling: touch; overflow-x: auto; display: block;" id="declinedTable" cellpadding="10">
                        <tr>
                            <th>תז</th>
                            <th>שם עובד</th>
                            <th>תאריך</th>
                            <th>יום</th>
                            <th>כניסה</th>
                            <th>יציאה</th>
                            <th>הערה</th>

                        </tr>
                        #if($reasonsDeclined.size()!=0)

                            #set($end =$reasonsDeclined.size())
                            #set($stop = $end - 1)
                            #if($stop)
                            ##$emplId.get($i),$enterTime.get($i),$exitTime.get($i),$dateList1.get($i),$hours.get($i),$dayOfWeek.get($i),$reasonsList.get($i)
                                #foreach($i in [0..$stop])
                                    <tr class="inf" >
                                        <td><p >$reasonsDeclined.get($i).getEmployeeObject().getId()</p></td>
                                        <td><p >$reasonsDeclined.get($i).getEmployeeObject().getName()</p></td>
                                        <td><p >$reasonsDeclined.get($i).getDate()</p></td>
                                        <td><p >$dayOfWeek2.get($i)</p></td>
                                        <td><p><input type="time" id="input $i" value=$enterTime2.get($i) ></p></td>
                                        <td><p><input type="time" id="input2 $i" value=$exitTime2.get($i)></p></td>
                                        <td><button type="button" class="btn btn-primary test" onclick="requestEmp('$reasonsDeclined.get($i).getReasonText()')" data-toggle="modal" data-target="#exampleModalScrollable">
                                            <i class="far fa-comment-dots" style="font-size:20px"></i>   </button></td>
                                    </tr>

                                #end
                            #end
                        #end
                    </table>
                </div>
        </div>
        </div>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">הערה</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" >
                <p id="reason"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">אישור</button>
            </div>
        </div>
    </div>
</div>
    #parse("jsTemp.vm")

</body>
</html>